cache/

world/
world_nether
world_the_end/

plugins/
versions/
libraries/
logs/
config/


banned-ips.json
banned-players.json
ops.json
version_history.json
whitelist.json
usercache.json
server.properties
help.yml
bukkit.yml
permissions.yml
commands.yml
spigot.yml
.console_history